/* 타임라인 스타일 */
.timeline {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  padding-left: 2rem;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 1rem;
  width: 1px;
  height: 100%;
  background: #ddd;
}

.timeline-item {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  animation: fadeIn 0.5s ease-in-out;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-icon {
  position: absolute;
  left: -18px;
  top: 0;
  width: 5px;
  height: 5px;
  background: #4aa9ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.8rem;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.timeline-content {
  background: #f7f9fc;
  padding: 0.8rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.timeline-content p {
  margin: 0;
  font-size: 1rem;
  color: #555;
  text-align:left
}

.timeline-item.highlight .timeline-icon {
  background: #ff9800;
}

.timeline-item.highlight .timeline-content {
  background: #fff4e5;
}

/* 애니메이션 */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}